@font-face {
    font-family: 'princeps';
    src: url(optimus-princeps.ttf);
}

a {
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: underline;
}

.logo {
    font-family: 'princeps', Helvetica, sans-serif;
    background-color: #434a52;
    font-size: 3.75em;
    font-weight: bold;
    white-space: nowrap;
}

.bottom-links {
    width: 100%;
    max-width: 24em;
    margin: 2em auto
}

.left-link {
    display: block;
    width: 50%;
    float: left;
    text-align: left;
    height: 5em;
}

#team {
    font-family: 'princeps', Helvetica, sans-serif;
    font-size: 3em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.team-name {
    font-family: 'princeps', Helvetica, sans-serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
    margin: 1.125em;
    margin-top: 0;
}

.team-photo {
    border-radius: 50%;
    width: 12em;
    height: 12em;
    margin-bottom: 1.125em;
}