
.add-bot-space {
	margin-bottom: 1em;
}

.add-img-small {
    width: 50vw;
    height: 50vw;
    margin: auto;
}

.add-left-img {
    float: left;
    width: 40vw;
    height: 40vw;
    max-width: 200px;
    max-height: 200px;
    margin-right: 1em;
    margin-bottom: 1em;
}
